html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

:root {
  --bg-color: #341d36;
  --dark-text: rgb(1, 12, 17);
  --blue-color: rgba(28, 103, 141, 0.5);
  --white-color: white;
  --dark-color: #000;
  --yellow-color: rgb(191, 137, 12);
  --main-font: "Montserrat", sans-serif;
  --side-font: "Lato", sans-serif;
  --nav-color: #2a0d2c;
}
a {
  color: var(--yellow-color);
  text-decoration: none;
}
p {
  word-spacing: 0.3rem;
  font-family: var(--side-font);
  font-size: 1rem;
  line-height: 32px;
}
h2 {
  padding: 1rem;
  color: var(--white-color);
}
.bg {
  background-color: var(--dark-color);
  height: 5rem;
}
body {
  font-family: var(--main-font);
  text-align: start;
  min-height: 100vh;
  line-height: 1.3rem;
  font-size: 1.2rem;
  background-color: var(--bg-color);
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
}

.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 1;
  background: var(--nav-color);
  height: max-content;
}

header {
  background: url("images/codetheme.jpg") no-repeat fixed center center/cover;
  height: 100vh;
  width: 100%;
  background-size: 100% 100%;
  font-family: var(--font);
  font-size: 1.1rem;
  position: relative;
  background-color: #000; 
}

/*to place item in center display parent element flex and center the proprty align-item and justify content */
.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#menu {
  display: none;
}
.nav-item a {
  color: var(--white-color);
  text-decoration: none;
  margin: 2rem;
  display: inline-block;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
  position: relative;
}
.nav-item a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 2px solid var(--white-color);
  border-left: 2px solid var(--white-color);
  transition: all 0.3s;
}
.nav-item a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transition: all 0.3s;
}
.nav-item a:hover::after,
.nav-item a:hover::before {
  width: 10%;
  height: 20%;
  transform: rotate(360deg);
}
h1 {
  padding: 2rem;
}
.welcome-text {
  font-size: 4rem;
  word-spacing: 0.5rem;
  color: white;
  font-family: var(--side-font);
}
/**************** text animation ****************/
.text-animation {
  font-size: 1.5rem;
  font-family: var(--side-font);
  font-weight: 500;
}

h2 span::before {
  content: "";
  color: var(--white-color);
  -webkit-animation: profile 5s infinite;
  animation: profile 5s infinite;
}
i {
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
}
@-webkit-keyframes profile {
  0% {
    content: "a FullStack Developer";
  }
  50% {
    content: "a creative UI Designer";
  }
  100% {
    content: "a continuous learner";
  }
}
@keyframes profile {
  0% {
    content: "a FullStack Developer";
  }
  50% {
    content: "a creative UI Designer";
  }
  100% {
    content: "a continuous learner";
  }
}

section {
  padding: 5rem 0;
  min-height: 500px; 
}
/**************** About area ****************/

#about {
  background-color: #f8f3ea;
  color: var(--darkText);
  max-width: 80%;
  margin: auto; 
  margin-top: 1.5rem;
}
#about h2 {
  color: var(--dark-color);
}
#about .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.about-img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about p {
  text-align: justify;
  margin: 0 1rem;
  line-height: 2.3rem;
}
/**************** project area ****************/

#projects .card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.content h3,
p,
a {
  text-align: left;
  padding: 0.5rem;
}
.card:hover {
  background-color: rgba(28, 103, 141, 0.5);
  color: var(--white-color);
}

.card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
/**************** projects, skills common area ****************/

.card {
  background-color: var(--white-color);
  flex-basis: 30%;
  margin: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--white-color);
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  transition: transform 500ms ease;
}
.card:hover {
  transform: scale(1.05);
}


/**************** Skills area ****************/

#skills .card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}
#skills .card {
  padding: 1rem 0;
}

#skills a {
  display: block;
  text-align: center;
  margin: 2rem;
}

#skills .card:hover {
  background-color: var(--dark-color);
}
#skills .material-icons,
#skills i {
  margin: 20px;
  display: inline-block;
  font-size: 5rem;
  color: rgb(12, 65, 87);
}
#skills progress {
  margin-top: 1rem;
}
#skills progress[value] {
  height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--yellow-color);
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background: rgb(12, 65, 87);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
.card .skill-icon {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px 10px;
}
.icon-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.style-icon {
  width: 20px;
  margin: 0 5px;
}
/**************** Contact area ****************/
#contact {
  text-align: center;
}
section#contact {
  padding-bottom: 0;
}
#contact h3 {
  height: 5rem;
  padding-top: 2rem;
}
#contact .container {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 1.2rem;
  padding:  1rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
   padding:  1rem;
}
label {
  display: inline-block;
  width: 20%;
  text-align: left;
}

input {
  height: 1.2rem;
  padding: 1rem;
}
input,
textarea {
  border-radius: 5px;
  border: none;
}

.form-group textarea {
  height: auto;
  padding: 1rem;
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--yellow-color);
  border: none;
  width: 35%;
  height: 40px;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: green;
  width: 25%;
}

footer p {
  text-align: center;
  color: var(--white-color);
  margin-bottom: 4rem;
  font-size: 1.3rem;
}
/**************** top button ****************/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--yellow-color);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

/**************** Tablet support ****************/
@media (max-width: 899px) {
  .card {
    flex-basis: 40%;
  }
  .nav-item a {
    padding: 0.2rem;
  }
  .welcome-text {
    font-size: 4rem;
  }
  section {
   min-height: auto;
  }

  #projects .card-box {
    display: block;
    margin: 0;
  }
  #skills .card {
    margin: 2rem 0;
  }
  #skills .card-box {
    display: block;
  }
  #skills .container {
    width: 90%;
  }
  .card {
    flex-basis: 40%;
  } 
}
@media (max-width: 576px) {
  .navBar {
    position: relative;
    background:rgb(86, 166, 210);
  }
  /*dispaly none makes menu item invisible*/
  .nav-item {
    display: none;
    position: absolute;
    background-color: #093557;
    width: 100%;
    margin-top: 5rem;
  }
  .nav-item a {
    display: flex;
    color: white;
    margin: 0.5rem;
    padding: 0.2rem;
    justify-content: center;
    background-color: var(--blue-color);
  }
  .nav-item a::after {
    transition: none;
  }
  .nav-item a:hover::after,
  .nav-item a:hover::before {
    transform: none;
  }
  .material-icons {
    color: white;
  }
  #menu {
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 0;
    margin-right: 2rem;
  }
  .nav-item a:hover {
    background-color: var(--blue-color);
  }
  .welcome-text {
    font-size: 2rem;
    text-shadow: none;
  }

  header {
    font-size: 1rem;
  }
  .text-animation {
    color: whitesmoke;
    font-size: 0.8rem;
  }
  #projects .card-box {
    display: block;
    margin: 0;
  }
  .card {
    margin: 1rem;
    padding: 5px;
  }
  #about {
    max-width: 80vw;
  }
  #about .box {
    display: block;
  }
  #about p {
    margin: 0;
    line-height: 2.3rem;
    word-spacing: normal;
  }
  #contact .container {
    font-size: 1rem;
  }
  .form-group {
    display: block;
    text-align: initial;
  }
  label {
    width: 40%;
    margin: 0.5rem 0;
  }
  input,
  textarea {
    margin-left: 0rem;
    width: 100%;
  }
  label[for="message"] {
    margin-left: 0rem;
  }
   textarea {
    padding-bottom: 2rem;
  }
  input#submit {
    font-size: 0.8rem;
    width: 50%;
  }
  section {
    padding: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
}
@media (max-width: 350px) {
  p,
  a {
    font-size: 0.8rem;
    line-height: #f8f3ea;
  }
  #contact .container {
    display: block;
    width: 100%;
    font-size: 1rem;
  }
  .welcome-text {
    font-size: 1.5rem;
    text-shadow: none;
    color: rgb(206, 83, 26);
  }
  .logo {
    width: 6rem;
    height: 2rem;
  }
  .hero-banner {
    height: 70vh;
  }
  .form-group textarea,
  input {
    width: 80%;
    margin-left: 1rem;
  }

  footer p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  section {
    padding: 1rem;
  }
}
